.blog-recent-posts {

    > .title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
        padding: 10px 0px;
    }

    a {
        text-decoration: none;
        color: var(--color-gray-9);

        &:hover {
            text-decoration: underline;
            font-weight: bold;
        }
    }
}