
// @import "github-markdown-css/github-markdown.css";
// @import "github-markdown-css/github-markdown-light.css";
// @import "../component/utils/prism/themes/prism-vsc-dark-plus.css";
// @import "../component/utils/prism/rehype-prism-plus/prism-plus.css";

.blog-layout {
    background-color: var(--color-gray-1);
    .layout-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 10px 20px;
        text-align: left;
        background-color: var(--color-background-default);
        border-bottom: 1px solid var(--color-gray-1);

        > .layout-tools {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;


        }
    }

    .application-main {
        .navigation {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            // padding: 16px 32px;
            height: 55px;
            box-sizing: border-box;
            border-bottom: 1px solid var(--color-gray-1);
        }

        .application-content {
            padding: 0px 32px;
            display: flex;
            min-height: 90vh;
            @media (max-width: 900px) {
                padding: 0px;
            }
        }

        .blog-area {
            display: flex;
            flex-direction: column;
            gap: 20px;
            min-height: 0vh;
            // border: 1px solid var(--color-gray-5);
            // padding: 0px 40px;
            background-color: var(--color-background-default);
            margin-top: 30px;
            // border-radius: 10px;
            // box-shadow: 0px 0px 10px 0px var(--color-gray-1), 0px 0px 10px 1px var(--color-gray-1), 0px 0px 10px 1px var(--color-gray-2);

            @media (max-width: 900px) {
                padding: 0px 0px;
            }
        }

        .blog-header {
            padding: 0px 20px;
            .blog-title {
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 1.2;
                padding: 30px 0px;
                margin-top: 20px;
            }

            .blog-account {
                display: flex;
                margin: 10px 0px;

                align-items: center;
                gap: 20px;
                font-size: 1.2rem;
                font-weight: 500;
                justify-content: space-between;

                > *:first-child {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
            }

            .blog-date {
                font-size: 1rem;
                font-weight: 400;
            }

            .blog-tags {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                margin: 10px 0px;
            }
        }


        .blog-content {
            padding: 0px 0px;
            font-size: 1.1rem;
            font-weight: 500;
            padding-bottom: 100px;
        }


        padding-bottom: 300px;
    }
    
}

@media (max-width: 770px) {
    .blog-layout {

        .application-main {
            padding-bottom: 50px;
            .application-content {
                padding: 0px;

                .container-lg {
                    padding: 0px;

                    > * {
                        display: block;
                    }

                    .blog-area {
                        margin: 0px;
                    }
                }
            }
        }
    }
}