
// @import "github-markdown-css/github-markdown.css";
// @import "github-markdown-css/github-markdown-light.css";
// @import "../component/utils/prism/themes/prism-vsc-dark-plus.css";
// @import "../component/utils/prism/rehype-prism-plus/prism-plus.css";

.page-layout {
    .layout-header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background-color: var(--color-gray-0);

        .layout-tools {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1;

            gap: 30px;
        }
    }

    .application-main {
        .navigation {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            padding: 16px 32px;
            height: 55px;
            box-sizing: border-box;
            border-bottom: 1px solid var(--color-gray-1);
        }

        .application-content {
            padding: 16px 32px;
            display: flex;
            min-height: 90vh;
        }
    }
    
}

@media (max-width: 770px) {
    .page-layout {
        .layout-header {

            .container-lg {
                padding: 0px;
            }
        }

    }
}