@import "github-markdown-css/github-markdown-light.css";
@import "~/component/utils/prism/themes/prism-vsc-dark-plus.css";
@import "~/component/utils/prism/rehype-prism-plus/prism-plus.css";

.markdown-page {

    margin: 0 auto;
    width: 100%;

    // padding: 32px 48px;
    // padding-right: 0px;
    box-sizing: border-box;
    font-size: 14px;

    > .markdown-page-content {
        display: flex;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            .table-of-contents {
                display: none;
            }

            .content-container {
                width: 100%;
                max-width: 600px;
            }
        }

        .content-container {
            width: 100%;
            // margin: 0 auto;
            // max-width: 900px;

            h1,h2,h3,h4,h5,h6 {
                padding: 5px;
                margin: 0px;
                margin-top: 10px;
                margin-bottom: 10px;
                position: relative;

                > a {
                    // display: none;
                    // position: absolute;
                    // left: -0.6em;
                    // top: 50%;
                    // transform: translateY(-50%);
                    // color: inherit;
                    // font-size: inherit;
                    // text-decoration: none;
                }

                &:hover {
                    > a {
                        display: inline-block;

                        &:hover {
                            color: var(--color-purple-7);
                        }
                    }
                }

            }

            *:target {
                position: relative;
                // color: blue;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: linear-gradient(to right, white, black);
                }
            }

            .content-inner {
                > p:first-child {
                    margin-top: 0px !important;
                }

                img {
                    max-width: 100%;
                }
            }
        }

        > *:first-child {
            flex: 1 1 auto;
        }
    
        > *:last-child {
            flex: none;
        }
    }


    .filename {
        // text-align: right;
        color: inherit;

        &:last-child {
            margin-top: 100px;
        }

        a {
            color: var(--color-primary);
            text-underline-offset: 10px;
            text-decoration: none;
        }

    }

    .link {
        // background-color: var(--color-white);
        padding: var(--padding-size-medium);
        text-align: left;
        min-width: 300px;

        .category {
            color: var(--color-gray-5);
            display: block;
            font-size: 15px;
        }

        .title {
            color: var(--color-blue-7);
            font-size: 20px;
        }

        &.prev {

            .title {
                &::before {
                    content: "« ";
                }
            }

        }

        &.next {
            text-align: right;


            .title {
                &::after{
                    content: " »";
                }
            }

        }

        border: 2px solid var(--color-blue-5);
        border-radius: 4px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 32px;
        &:first-child {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }

        // border-bottom: 0px;
        margin-top: 50px;
        margin-bottom: 50px;        
        color: var(--color-text-header-default);
    }
    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    table {
        display: table;


        > thead > tr {
            background-color: var(--elf--table-thead-background-color) !important;
            border: 0px !important;

            > th {
          
                // padding: var(--elf--table-head-cell-padding);
                border:0px;
                font-weight: 500;
                text-align: var(--elf--table-cell-text-align);
                border:0px;
            }
                
        }

        > tbody > tr {
            background-color: var(--elf--table-tbody-background-color) !important;
        
        }
    }


    pre[class*="language-"] {
        border-radius: 6px;
    }

    pre[class*="language-"] {
        position: relative;
        &::before {
            color: var(--color-text-header-default);
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 10px;
            display: block;
            position: absolute;
            right: 0px;
            top: 0px;
            box-sizing: border-box;
            padding: 5px 10px;
        }
    }

    pre.language-js::before {
        content: "JavaScript";
    }

    pre.language-ts::before {
        content: "TypeScript";
    }

    pre.language-json::before {
        content: "JSON";
    }

    pre.language-html::before {
        content: "HTML";
    }

    pre.language-css::before {
        content: "CSS";
    }

    pre.language-scss::before {
        content: "SCSS";
    }

    pre.language-markdown::before {
        content: "Markdown";
    }

    pre.language-diff::before {
        content: "Diff";
    }

    pre.language-xml::before {
        content: "XML";
    }

    pre.language-yaml::before {
        content: "YAML";
    }

    pre.language-text::before {
        content: "Text";
    }

    pre.language-graphql::before {
        content: "GraphQL";
    }

    pre.language-sql::before {
        content: "SQL";
    }

    pre.language-elm::before {
        content: "Elm";
    }

    pre.language-elm::before {
        content: "Elm";
    }

    blockquote {
        border-left: 2px solid var(--color-gray-5);
        padding-left: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: var(--color-gray-7);
        font-size: 1.4rem;
    }

}