.application-layout {
    position: fixed;
    display: flex;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    flex-direction: column;


    > * {
        flex: 1 1 auto;
    }

    > .top {
        flex: none;
        width: 100%;
        // height: 60px;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        box-sizing: border-box;
        border-bottom: 1px solid var(--color-border);

        .layout-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            > * {
                display: flex;
                gap: 30px;
            }
        }

    }

    > .body {
        flex: 1 1 auto;
        display: flex;
        min-height: 90vh;
        width: 100%;

        > .center {
            flex: 1 1 auto;
            // padding: 16px 32px;
            // display: flex;
            min-height: 90vh;

            > .page > section.body {
                padding-left: 40px;
                padding-right: 40px;
            }
        }

        > .left {
            flex: none;
            width: 260px;
            border-right: 1px solid var(--color-border);
            padding: 10px;
            box-sizing: border-box;
        }


        > .right {
            flex: none;
            // padding: 16px 32px;
            display: flex;
            height: 100%;
            width: 300px;
            box-sizing: border-box;
            border-left: 1px solid var(--color-border);
        }

    }
}

@media (max-width: 770px) {
    .application-layout {
        .layout-header {

            .layout-tools {
                justify-content: space-between;
                width: 100%;
            }

            .second-tools {
                display: none;
            }    
        }

        .body {
            > .left {
                display: none;
            }

            > .center {
                padding-left: 0px;
                padding-right: 0px;
            }

            > .right {
                display: none;
            }
        }
    }

}