
.blank-layout {

    --blank-layout-content-background-color: var(--color-background-default);

    .layout-content {
        padding: 50px 10px;
        min-height: 100vh;
        // max-width: 800px;

        > * {
            padding: 20px;
            padding-top: 30px;

            > * {
                background-color: var(--blank-layout-content-background-color);
            }
        }
    }
}
